    </main>
    <footer>
        <p>Copyright &copy; all rights reserved</p>
    </footer>

    <script src="js/script.js"></script>

    <!-- lib Scripts -->
    <script src="lib/js/jquery.min.js"></script>
    <script src="lib/js/jquery.dropotron.min.js"></script>
    <script src="lib/js/jquery.scrolly.min.js"></script>
    <script src="lib/js/jquery.scrollex.min.js"></script>
    <script src="lib/js/browser.min.js"></script>
    <script src="lib/js/breakpoints.min.js"></script>
    <script src="lib/js/util.js"></script>
    <script src="lib/js/main.js"></script>

</body>
</html>