</div>

<!-- Footer -->
<footer id="footer">
    <p class="copyright">&copy; Do as you Please. Just don't mess it up. Otherwise do whatever you want </p>
</footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/browser.min.js"></script>
<script src="lib/js/breakpoints.min.js"></script>
<script src="lib/js/util.js"></script>
<script src="js/music-list.js"></script>
<script src="js/script.js"></script>
<script src="lib/js/main.js"></script>
<script src="js/canvasAnimation.js"></script>
<script src="js/aos.js"></script>
<script>
    AOS.init();
</script>

</body>

</html>