<!-- Footer -->
<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.facebook.com/boni.boni.146/" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/boni_rexhepi/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="mailto:bleron.redjepi@edu.tbz.ch" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
    </div>
</footer>

<!-- Scripts -->
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/jquery.scrollex.min.js"></script>
<script src="lib/js/jquery.scrolly.min.js"></script>
<script src="lib/js/browser.min.js"></script>
<script src="lib/js/breakpoints.min.js"></script>
<script src="lib/js/util.js"></script>
<script src="lib/js/main.js"></script>
<script src="js/removeFooter.js"></script>
<script src="js/script.js"></script>
<script src="js/loader.js"></script>


</body>
</html>