<!DOCTYPE HTML>
<html>

<head>
	<title><%- title %></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link id="loadercss" rel="stylesheet" href="css/loader.css">
	<link id="templatecss" rel="stylesheet" href="lib/css/main.css" />
	<link rel="stylesheet" href="css/documentation.css">
	<link rel="stylesheet" href="css/style.css">
	<noscript>
		<link rel="stylesheet" href="lib/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload">
	