<!DOCTYPE HTML>
<html>

<head>
    <title>Story by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/loader.css">
</head>

<body>
    <div class="loader">
        <div class="box box0">
            <div></div>
        </div>
        <div class="box box1">
            <div></div>
        </div>
        <div class="box box2">
            <div></div>
        </div>
        <div class="box box3">
            <div></div>
        </div>
        <div class="box box4">
            <div></div>
        </div>
        <div class="box box5">
            <div></div>
        </div>
        <div class="box box6">
            <div></div>
        </div>
        <div class="box box7">
            <div></div>
        </div>
        <div class="ground">
            <div></div>
        </div>
    </div>
</body>